<header class="masthead clearfix">
    <div class="site-info">

        <h1 class="site-name" >
          <a href="{{ site.baseurl }}/"  >
            <div class="site-info nav_link">
              <img src="/images/main/sofia_small.png" />
              {{ site.name }}
            </div>

            </a>
        </h1>
        <br/>
        <p class="site-description">{{ site.description }}</p>
    </div>
    <nav >
        <ul>
            <li class="nav_link" >
              <a href="{{ site.baseurl }}/about">
          <i class="fas fa-user-circle fa-2x" title="about me"></i>


        </a>
            </li>

        {% if site.footer-links.email %}
            <li class="nav_link" >
              <a href="mailto:{{ site.footer-links.email }}">

                 <i class="far fa-envelope fa-2x" title="Email me!"></i>
               </a>
           </li>
       {% endif %}


        <li class="nav_link" >
          <a href="{{ site.baseurl }}/cats" alt="Cats">
            <i class="fas fa-paw fa-2x" title="Cats"></i>
          </a>
        <li class="nav_link" >

        <li class="nav_link" >
          <a href="{{ site.baseurl }}/" alt="BLOG">

              <i class="fas fa-bullhorn fa-2x" title="BLOG"></i>
            </a>
        </li>

        <li class="nav_link" >
            <a href="{{ site.baseurl }}/projects" alt="Projects and Code">
              <i class="fas fa-puzzle-piece fa-2x" title="Projects and Code"></i>
            </a>
       </li>

         <li class="nav_link" >
           <a href="{{ site.baseurl }}/papers" alt="Papers and Publications">

               <i class="fas fa-book fa-2x" title="Papers and Publications"></i>
             </a>
        </li>


        {% if site.footer-links.github %}
            <li class="nav_link" >
                <a href="https://github.com/{{ site.footer-links.github }}" target="_blank" >
                  <i class="fab fa-github fa-2x" title="GitHub"></i>

                </a>
            </li>
       {% endif %}
       {% if site.footer-links.gitlab %}
           <li class="nav_link" >
               <a href="https://gitlab.com/{{ site.footer-links.gitlab }}" target="_blank" >
                 <i class="fab fa-gitlab fa-2x" title="GitLab"></i>
              </a>
          </li>
      {% endif %}


     {% if site.footer-links.linkedin %}
         <li class="nav_link" >
              <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank" >
                   <i class="fab fa-linkedin fa-2x" title="LinkedIn"></i>
              </a>
         </li>
     {% endif %}

     {% if site.footer-links.amazon %}
         <li class="nav_link" >
              <a href="https://www.amazon.com/author/{{ site.footer-links.amazon }}" target="_blank" >
                    <i class="fab fa-amazon fa-2x" title="Amazon Author"></i>
              </a>
         </li>
    {% endif %}


    {% if site.footer-links.youtube %}
        <li class="nav_link" >
            <a href="https://youtube.com/user/{{ site.footer-links.youtube }}" target="_blank" >
                 <i class="fab fa-youtube fa-2x" title="YouTube"></i>
            </a>
        </li>
        {% endif %}

        {% if site.footer-links.asciinema %}
        <li class="nav_link" >
            <a href="https://asciinema.org/~{{ site.footer-links.asciinema }}" target="_blank" >
                <i class="fas fa-play fa-2x" title="Asciinema"></i>
            </a>
        </li>
        {% endif %}

        </ul>
    </nav>
</header>
