
<header class="masthead clearfix">
    
    <nav class="navbar  navbar-fixed-top" role="navigation">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="nav navbar-nav navbar-left" >



                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/" alt="BLOG">

                        <i class="fas fa-bullhorn fa-2x" title="BLOG"></i>
                    </a>
                </li>

                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/projects" alt="Projects and Code">
                        <i class="fas fa-laptop fa-2x" title="Projects and Code"></i>
                    </a>
                </li>
            
                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/papers" alt="Papers and Publications">

                        <i class="fas fa-book fa-2x" title="Papers and Publications"></i>
                    </a>
                </li>

                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/cats" alt="Cats (and dogs)" >
                        <i class="fas fa-paw fa-2x" title="Cats"></i>
                    </a>
                </li>

                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/stats" alt="Stats and Activity">
                        <i class="fas fa-chart-area fa-2x" title="Stats and Activity"></i>
                    </a>
                </li>

                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/interviews" alt="Stats and Activity">
                        <i class="fas fa-microphone-alt fa-2x" title="Interviews"></i>
                    </a>
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-center" >
                <li class="nav_link" >
                    <a href="{{ site.baseurl }}/about"  >
                        <i class="fas fa-user fa-2x nav_link" title="about me"></i>
                    </a>
                </li>


                    {% if site.footer-links.email %}
                <li class="nav_link" >
                    <a href="mailto:{{ site.footer-links.email }}">

                        <i class="far fa-envelope fa-2x" title="Email me!"></i>
                    </a>
                </li>
                {% endif %}

            </ul>

                <ul class="nav navbar-nav navbar-right" >
                {% if site.footer-links.github %}

                <li class="nav_link" >
                    <a href="https://github.com/{{ site.footer-links.github }}" target="_blank" >
                        <i class="fab fa-github fa-2x" title="GitHub"></i>

                    </a>
                </li>
                {% endif %}
                {% if site.footer-links.gitlab %}
                <li class="nav_link" >
                    <a href="https://gitlab.com/{{ site.footer-links.gitlab }}" target="_blank" >
                        <i class="fab fa-gitlab fa-2x" title="GitLab"></i>
                    </a>
                </li>
                {% endif %}

                {% if site.footer-links.mastodon %}
                <li class="nav_link" >
                    <a href="https://fosstodon.org//@{{ site.footer-links.mastodon }}" target="_blank" >
                        <i class="fab fa-mastodon fa-2x" title="Mastodon"></i>
                    </a>
                </li>
                {% endif %}



                {% if site.footer-links.linkedin %}
                <li class="nav_link" >
                    <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank" >
                        <i class="fab fa-linkedin fa-2x" title="LinkedIn"></i>
                    </a>
                </li>
                {% endif %}

                {% if site.footer-links.instagram %}
                <li class="nav_link" >
                    <a href="https://www.instagram.com/{{ site.footer-links.linkedin }}" target="_blank" >
                        <i class="fab fa-instagram fa-2x" title="Instagram"></i>
                    </a>
                </li>
                {% endif %}


                {% if site.footer-links.youtube %}
                <li class="nav_link" >
                    <a href="https://youtube.com/user/{{ site.footer-links.youtube }}" target="_blank" >
                        <i class="fab fa-youtube fa-2x" title="YouTube"></i>
                    </a>
                </li>
                {% endif %}

                {% if site.footer-links.odysee %}
                <li class="nav_link" >
                    <a href="https://odysee.com/{{ site.footer-links.odysee }}" target="_blank" >
                        <i class="fas fa-play-circle fa-2x" title="Odysee (LBRY)"></i>
                    </a>
                </li>
                {% endif %}

                {% if site.footer-links.asciinema %}
                <li class="nav_link" >
                    <a href="https://asciinema.org/~{{ site.footer-links.asciinema }}" target="_blank" >
                        <i class="fas fa-play fa-2x" title="Asciinema"></i>
                    </a>
                </li>
                {% endif %}

                {% if site.footer-links.amazon %}
                <li class="nav_link" >
                    <a href="https://www.amazon.com/author/{{ site.footer-links.amazon }}" target="_blank" >
                        <i class="fab fa-amazon fa-2x" title="Amazon Author"></i>
                    </a>
                </li>
                {% endif %}



            </ul>
        </div>


    </nav>

    <script language="javascript" >
     $(window).scroll(function() {
         if ($(document).scrollTop() > 50) {
             $('nav').addClass('shrink');
         } else {
             $('nav').removeClass('shrink');
         }
     });
    </script>

</header>
