## 2019
<b>33 posts</b> written in 2019.
<br/>
Top <i>10</i> categories in <i>2019</i> are: <b>postgresql, perl5, linux, freebsd, misc, java, kubuntu, blog, kde, emacs, pgenv</b>

<center>
<img src="/images/graphs/2019.png" />
<br/>
<img src="/images/graphs/2019-tags.png" />
</center>

## 2018
<b>47 posts</b> written in 2018.
<br/>
Top <i>10</i> categories in <i>2018</i> are: <b>postgresql, itpug, perl6, git, pgenv, python, java, perl5, github, freebsd, emacs</b>

<center>
<img src="/images/graphs/2018.png" />
<br/>
<img src="/images/graphs/2018-tags.png" />
</center>

## 2017
<b>158 posts</b> written in 2017.
<br/>
Top <i>10</i> categories in <i>2017</i> are: <b>perl, postgresql, programming, perl6, perl5, programmazione, kde, linux, itpug, emacs, riflessioni</b>

<center>
<img src="/images/graphs/2017.png" />
<br/>
<img src="/images/graphs/2017-tags.png" />
</center>

## 2016
<b>83 posts</b> written in 2016.
<br/>
Top <i>10</i> categories in <i>2016</i> are: <b>postgresql, pgday, riflessioni, itpug, perl, programmazione, emacs, kde, opensource, carmensita, arco</b>

<center>
<img src="/images/graphs/2016.png" />
<br/>
<img src="/images/graphs/2016-tags.png" />
</center>

## 2015
<b>46 posts</b> written in 2015.
<br/>
Top <i>10</i> categories in <i>2015</i> are: <b>postgresql, perl, itpug, riflessioni, programmazione, pgday, kde, freebsd, carmensita, kubuntu, divertimenti</b>

<center>
<img src="/images/graphs/2015.png" />
<br/>
<img src="/images/graphs/2015-tags.png" />
</center>

## 2014
<b>70 posts</b> written in 2014.
<br/>
Top <i>10</i> categories in <i>2014</i> are: <b>postgresql, itpug, opensource, perl, emacs, riflessioni, programmazione, kde, divertimenti, freebsd, carmensita</b>

<center>
<img src="/images/graphs/2014.png" />
<br/>
<img src="/images/graphs/2014-tags.png" />
</center>

## 2013
<b>83 posts</b> written in 2013.
<br/>
Top <i>10</i> categories in <i>2013</i> are: <b>postgresql, freebsd, divertimenti, opensource, riflessioni, emacs, programmazione, linux, kde, perl, itpug</b>

<center>
<img src="/images/graphs/2013.png" />
<br/>
<img src="/images/graphs/2013-tags.png" />
</center>

## 2012
<b>95 posts</b> written in 2012.
<br/>
Top <i>10</i> categories in <i>2012</i> are: <b>freebsd, programmazione, linux, riflessioni, opensource, postgresql, qt, kde, emacs, java, research</b>

<center>
<img src="/images/graphs/2012.png" />
<br/>
<img src="/images/graphs/2012-tags.png" />
</center>

## 2011
<b>110 posts</b> written in 2011.
<br/>
Top <i>10</i> categories in <i>2011</i> are: <b>programmazione, java, linux, qt, riflessioni, postgresql, freebsd, opensource, kde, eclipse, maven</b>

<center>
<img src="/images/graphs/2011.png" />
<br/>
<img src="/images/graphs/2011-tags.png" />
</center>

## 2010
<b>124 posts</b> written in 2010.
<br/>
Top <i>10</i> categories in <i>2010</i> are: <b>java, eclipse, postgresql, opensource, rcp, linux, research, swt, riflessioni, kde, whitecat</b>

<center>
<img src="/images/graphs/2010.png" />
<br/>
<img src="/images/graphs/2010-tags.png" />
</center>

## 2009
<b>61 posts</b> written in 2009.
<br/>
Top <i>10</i> categories in <i>2009</i> are: <b>programmazione, java, postgresql, riflessioni, arco, trasporti, eclipse, opensource, linux, aglets, itpug</b>

<center>
<img src="/images/graphs/2009.png" />
<br/>
<img src="/images/graphs/2009-tags.png" />
</center>

## 2008
<b>154 posts</b> written in 2008.
<br/>
Top <i>10</i> categories in <i>2008</i> are: <b>linux, postgresql, java, riflessioni, arco, trasporti, eclipse, kde, programmazione, pgday, aglets</b>

<center>
<img src="/images/graphs/2008.png" />
<br/>
<img src="/images/graphs/2008-tags.png" />
</center>

<small>
The above statistical data has been generated automatically on Wed Jul 10 18:51:03 2019
via <a href="https://github.com/fluca1978/jekyll-simple-stats" target="_new">
    Jekyll Simple Stats 
    </a>
    <a href="https://fluca1978.github.io" target="_new">
    by Luca Ferrari
    </a>
</small>

