## Blog Activity
The following is a glance at the blogging activity across all years:
 - 2019 : 35 total posts across 17 different categories;
 - 2018 : 47 total posts across 25 different categories;
 - 2017 : 158 total posts across 55 different categories;
 - 2016 : 83 total posts across 24 different categories;
 - 2015 : 46 total posts across 17 different categories;
 - 2014 : 70 total posts across 20 different categories;
 - 2013 : 83 total posts across 32 different categories;
 - 2012 : 95 total posts across 37 different categories;
 - 2011 : 110 total posts across 42 different categories;
 - 2010 : 124 total posts across 30 different categories;
 - 2009 : 61 total posts across 24 different categories;
 - 2008 : 154 total posts across 25 different categories;
<center>
<img src="/images/graphs/tags.png" />
</center>


### 2019 (work in progress!)
<b>35 posts</b> written in 2019 across 16 different categories.
<br/>
Top <i>10</i> categories in <i>2019</i> are: <b>postgresql, linux, perl5, freebsd, kde, kubuntu, java, emacs, misc, pgenv, git</b>

<center>
<img src="/images/graphs/2019.png" />
<br/>
<img src="/images/graphs/2019-tags.png" />
</center>


### 2018 
<b>47 posts</b> written in 2018 across 24 different categories.
<br/>
Top <i>10</i> categories in <i>2018</i> are: <b>postgresql, itpug, perl6, git, pgenv, python, github, perl5, java, linux, emacs</b>

<center>
<img src="/images/graphs/2018.png" />
<br/>
<img src="/images/graphs/2018-tags.png" />
</center>


### 2017 
<b>158 posts</b> written in 2017 across 54 different categories.
<br/>
Top <i>10</i> categories in <i>2017</i> are: <b>perl, postgresql, programming, perl6, perl5, programmazione, kde, linux, itpug, emacs, riflessioni</b>

<center>
<img src="/images/graphs/2017.png" />
<br/>
<img src="/images/graphs/2017-tags.png" />
</center>


### 2016 
<b>83 posts</b> written in 2016 across 23 different categories.
<br/>
Top <i>10</i> categories in <i>2016</i> are: <b>postgresql, pgday, riflessioni, itpug, perl, emacs, programmazione, kde, carmensita, opensource, arco</b>

<center>
<img src="/images/graphs/2016.png" />
<br/>
<img src="/images/graphs/2016-tags.png" />
</center>


### 2015 
<b>46 posts</b> written in 2015 across 16 different categories.
<br/>
Top <i>10</i> categories in <i>2015</i> are: <b>postgresql, itpug, perl, riflessioni, programmazione, pgday, freebsd, kde, kubuntu, carmensita, openbsd</b>

<center>
<img src="/images/graphs/2015.png" />
<br/>
<img src="/images/graphs/2015-tags.png" />
</center>


### 2014 
<b>70 posts</b> written in 2014 across 19 different categories.
<br/>
Top <i>10</i> categories in <i>2014</i> are: <b>postgresql, itpug, opensource, perl, emacs, riflessioni, divertimenti, kde, programmazione, carmensita, freebsd</b>

<center>
<img src="/images/graphs/2014.png" />
<br/>
<img src="/images/graphs/2014-tags.png" />
</center>


### 2013 
<b>83 posts</b> written in 2013 across 31 different categories.
<br/>
Top <i>10</i> categories in <i>2013</i> are: <b>postgresql, divertimenti, freebsd, riflessioni, emacs, opensource, programmazione, linux, kde, perl, itpug</b>

<center>
<img src="/images/graphs/2013.png" />
<br/>
<img src="/images/graphs/2013-tags.png" />
</center>


### 2012 
<b>95 posts</b> written in 2012 across 36 different categories.
<br/>
Top <i>10</i> categories in <i>2012</i> are: <b>freebsd, programmazione, linux, riflessioni, opensource, postgresql, qt, kde, emacs, java, pcbsd</b>

<center>
<img src="/images/graphs/2012.png" />
<br/>
<img src="/images/graphs/2012-tags.png" />
</center>


### 2011 
<b>110 posts</b> written in 2011 across 41 different categories.
<br/>
Top <i>10</i> categories in <i>2011</i> are: <b>programmazione, java, linux, qt, riflessioni, postgresql, freebsd, opensource, kde, eclipse, jsf</b>

<center>
<img src="/images/graphs/2011.png" />
<br/>
<img src="/images/graphs/2011-tags.png" />
</center>


### 2010 
<b>124 posts</b> written in 2010 across 29 different categories.
<br/>
Top <i>10</i> categories in <i>2010</i> are: <b>java, eclipse, postgresql, opensource, rcp, linux, research, swt, riflessioni, whitecat, kde</b>

<center>
<img src="/images/graphs/2010.png" />
<br/>
<img src="/images/graphs/2010-tags.png" />
</center>


### 2009 
<b>61 posts</b> written in 2009 across 23 different categories.
<br/>
Top <i>10</i> categories in <i>2009</i> are: <b>programmazione, java, postgresql, riflessioni, arco, trasporti, opensource, eclipse, linux, research, swt</b>

<center>
<img src="/images/graphs/2009.png" />
<br/>
<img src="/images/graphs/2009-tags.png" />
</center>


### 2008 
<b>154 posts</b> written in 2008 across 24 different categories.
<br/>
Top <i>10</i> categories in <i>2008</i> are: <b>linux, postgresql, java, riflessioni, arco, trasporti, eclipse, kde, pgday, programmazione, aglets</b>

<center>
<img src="/images/graphs/2008.png" />
<br/>
<img src="/images/graphs/2008-tags.png" />
</center>

<small>
The above statistical data has been generated automatically on Thu Jul 11 16:46:51 2019
via <a href="https://github.com/fluca1978/jekyll-simple-stats" target="_new">
    Jekyll Simple Stats 
    </a>
    <a href="https://fluca1978.github.io" target="_new">
    by Luca Ferrari
    </a>
</small>

