
<a href="{{ site.baseurl }}/about" class="site_name">
    <i class="fas fa-address-card fa-3x" title="about me"></i>
</a>

{% if site.footer-links.email %}
<a href="mailto:{{ site.footer-links.email }}">
    <i class="far fa-envelope fa-3x" title="Email me!"></i>
</a>
{% endif %}


<a href="{{ site.baseurl }}/cats" alt="Cats">
    <i class="fas fa-paw fa-3x" title="Cats"></i>
</a>

<a href="{{ site.baseurl }}/" alt="BLOG">
    <i class="fas fa-copy fa-3x" title="BLOG"></i>
</a>

<a href="{{ site.baseurl }}/projects" alt="Projects and Code">
    <i class="fas fa-desktop fa-3x" title="Projects and Code"></i>
</a>

<a href="{{ site.baseurl }}/papers" alt="Papers and Publications">
    <i class="fas fa-book-open fa-3x" title="Papers and Publications"></i>
</a>



{% if site.footer-links.github %}
<a href="https://github.com/{{ site.footer-links.github }}">
    <i class="fab fa-github fa-3x" title="GitHub"></i>
</a>
{% endif %}
{% if site.footer-links.gitlab %}
<a href="https://gitlab.com/{{ site.footer-links.gitlab }}">
    <i class="fab fa-gitlab fa-3x" title="GitLab"></i>
</a>
{% endif %}


{% if site.footer-links.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i class="fab fa-linkedin fa-3x" title="LinkedIn"></i>
</a>
{% endif %}

{% if site.footer-links.amazon %}
<a href="https://www.amazon.com/{{ site.footer-links.amazon }}">
    <i class="fab fa-amazon fa-3x" title="Amazon Author"></i>
</a>
{% endif %}


{% if site.footer-links.youtube %}
<a href="https://youtube.com/{{ site.footer-links.youtube }}">
    <i class="fab fa-youtube fa-3x" title="YouTube"></i>
</a>
{% endif %}
