## 2012 

**95 total posts** have been written on 2012.
There have been *39 different tags* used, the most
used popular being (in order of number of posts):
 
- *freebsd* (19 posts)  
- *programmazione* (14 posts)  
- *linux* (13 posts)  
- *riflessioni* (10 posts)  
- *opensource* (10 posts)  
- *postgresql* (9 posts)  
- *kde* (8 posts)  
- *qt* (8 posts)  
- *emacs* (7 posts)  
- *java* (5 posts)  
- *pgday* (4 posts).<br/>
<br/>
The following is overall post ratio on every 2012 month:
<br/>
    <center>
      <img src="/images/stats/2012-months.png" alt="2012 post ratio per month" />
    </center>
<br/>

<br/>
The following is overall post ratio by tag:
<br/>
  <center>
    <img src="/images/stats/2012-tags.png" alt="2012 post ratio per tag" />
  </center>
<br/>
