## 2019 

**72 total posts** have been written on 2019.
There have been *34 different tags* used, the most
used popular being (in order of number of posts):
 
- *postgresql* (36 posts)  
- *planet-postgresql-org* (34 posts)  
- *freebsd* (11 posts)  
- *linux* (10 posts)  
- *perl5* (5 posts)  
- *misc* (5 posts)  
- *microsoft* (4 posts)  
- *kde* (3 posts)  
- *rant* (3 posts)  
- *java* (3 posts)  
- *emacs* (2 posts).<br/>
<br/>
The following is overall post ratio on every 2019 month:
<br/>
    <center>
      <img src="/images/stats/2019-months.png" alt="2019 post ratio per month" />
    </center>
<br/>

<br/>
The following is overall post ratio by tag:
<br/>
  <center>
    <img src="/images/stats/2019-tags.png" alt="2019 post ratio per tag" />
  </center>
<br/>
